.burger {
  position: absolute;
  right: 15px;
  transform-origin: 16px 11px;
  float: left;
  outline: 0;
  border: 0;
  padding: 12px;
  background: none;
  cursor: pointer;
  z-index: 555;

  &__span {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: block;
    height: 5px;
    margin-bottom: 7px;
    background-color: black;
    width: 40px;
  }
}

.open .burger__span:first-child {
  transform: rotate(45deg) translate(10px, 10px);
}

.open .burger__span:nth-child(2) {
  opacity: 0;
  pointer-events: none;
}

.open .burger__span:last-child {
  transform: rotate(-45deg) translate(7px, -7px);
}
