.workspace {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid $secondary-color;
  &__data_text {
    font-size: 14px;
    line-height: calc(19 / 14);
    text-align: center;
    color: $secondary-color;
    margin-bottom: 8px;
  }
  &__input,
  &__text {
    outline: none;
    border: none;

    background-color: inherit;
  }
  &__input {
    margin-bottom: 10px;
  }
  &__text {
    height: 100%;
  }
}

.wrapper {
  padding: 20px;
  width: 300px;
  height: 100px;

  &__btnBox {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
}

.button {
  background-color: $secondary-color;
  color: $white;

  font-weight: 500;
  font-size: 20px;
  line-height: calc(27 / 20);
  padding: 10px 28px;

  border: 2px solid #828282;
  border-radius: 40px;

  &:hover,
  &:focus {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: $activeColor;
    color: $secondary-color;
  }
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 20px;
}
