.sidebar {
  position: relative;

  &__show_hidden {
    left: -100%;
    width: 0;
    opacity: 0;
    transition: opacity 0.5s, left 0.5s ease-in-out;
    visibility: hidden;
  }

  opacity: 1;
  left: 0;
  transition: opacity 0.5s, right 0.5s ease-in-out;
  display: block;
  z-index: 999;
  right: 50%;
  visibility: visible;
  width: 50%;

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $warning;
    box-sizing: border-box;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    min-width: 180px;
    max-width: 260px;
    margin: 0;
    border-right: 1px solid $secondary-color;
    overflow: auto;
    height: 100vh;
    transition: height 0.5s ease-in-out;
    &__list_mobile {
      margin-top: 30px;
    }
  }

  &__item_title {
    max-width: 200px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 15px;
    line-height: calc(20 / 15);
  }

  &__item_text_span {
    margin-left: 8px;
  }

  &__item_text {
    max-width: 200px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin: 0;
    font-size: 15px;
    line-height: calc(20 / 15);
  }

  &__link {
    display: block;
    padding-left: 15px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;

    border-bottom: 1px solid $secondary-color;
    &:hover {
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      background-color: $activeColor;
    }
  }
}

.active {
  background-color: $activeColor;
}
